.pagination {
  display: flex;
  gap: 50px;
  margin: 50px 0;
}

.pagination .button {
  cursor: pointer;
  align-self: center;
  font-weight: 100;
}

.pagination .button:hover {
  color: #f26989;
}

.pagination div {
  user-select: none;
}

.page {
  font-weight: 600;
  border-radius: 15px;
  padding: 5px 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 117, 140, 0.5) 55%,
    rgba(255, 126, 179, 0.5) 100%
  );
  border: 3px solid #f26989;
}

.disabled {
  cursor: pointer;
  color: #b3b3b3;
}

.button.disabled:hover {
  cursor: not-allowed;
  color: #b3b3b3;
}
